table {
  border-collapse: collapse;
  border: 1px solid black;
}

table td {
  border: 1px dotted black;
  padding: .2rem;
  text-align: center;
}

table tr {
  border: 2px solid black;
}

table th {
  border-color: black;
  border: 2px solid black;
  padding: .4rem;
  text-align: center;
}